.carousel {
	background: #000;
}

.carousel .item { height: 300px; overflow: hidden; }

.carousel .item img { width: 100%; height: auto; margin-top: -35%; }
.carousel-caption a { color: #fff; }

.blog-element { display: block; height: 500px; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover;}

.blog-element a { color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.5); }


.first-row-padding { padding-right: 0px; }


.second-row-padding:nth-child(1n) { padding-right: 0px; }
.second-row-padding:nth-child(2n) { padding-left: 0px;  }

.third-row-padding { padding: 0; }

.third-row-padding:first-child { padding-left: 15px; }
.third-row-padding:nth-child(4n) { padding-left: 15px; }
.third-row-padding:last-child { padding-right: 0px; }